{% extends 'mainapp/basic.html' %}
{% load static %}
{% block title %}
StockPicker
{% endblock %}
{% block css %}
<style>
    <link ref="stylesheet" text="text/css" href="{% static 'mainapp/css/stockpicker.css' %}">
</style>
{% endblock %}
{% block body %}
<div class="container">
    <h1>Live Stock Tracker</h1>
    <p>Select your favourite stocks.</p>
        <form action="/stocktracker">
            <label for="stockpicker">Select Stock:</label>
            <select class="form-select form-select-lg" multiple aria-label="Multiple select example" name="stockpicker">
                {% for stock_list in stockpicker %}
                <option value="{{ stock_list }}">{{ stock_list }}</option>
                {% endfor %}
            </select>
            <br>
            <div class="d-grid gap-2">
                <input class="btn btn-primary" type="submit">
              </div>
        </form>
    </div>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}